@import "src/shared/style.scss";

#schedule {
  .schedule-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 10px 0;

    .schedule-week-item {
      width: 35px;
      height: 35px;

      color: $maincolor;

      border-radius: 100%;

      &.active {
        background: $maincolor;
        color: inherit;
      }
    }
  }

  .schedule-events {
    max-height: calc(100vh - 365px);
    margin-top: 20px;

    overflow: auto;
    scrollbar-width: thin;

    .schedule-list {
      &:not(:first-of-type) {
        padding-top: 20px;
      }

      .event-day {
        padding: 0 10px;

        text-transform: uppercase;
        font-weight: 700;
        color: $gray;
      }

      .event-item {
        opacity: 0.5;
        cursor: pointer;

        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }

        .group-space {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
