@import "src/shared/style.scss";

#leftbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  width: 350px;
  padding: 5px 0 0;

  background: $lightner;
  border-radius: 0 30px 30px 0;

  &.sidebar_hidden {
    width: 50px;

    .sidebar-top {
      padding: 10px 0;

      .sidebar-title {
        font-size: 0;

        .title-text {
          display: none;
        }
      }
    }
  }

  .new-group {
    width: calc(100% - 120px);
    margin: 5px auto 15px;
    padding: 5px;

    justify-content: space-between;

    background: $maincolor;

    .icon {
      border-radius: 100%;

      background: rgba($black, 0.125);
    }
  }

  .sidebar-top {
    padding: 10px;

    .sidebar-title {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0 5px;

      .title-text {
        width: calc(100% - #{$smalliconsize});
        padding: 0 5px;

        font-weight: 700;
        text-transform: uppercase;

        overflow: hidden;
      }
    }
  }
}

.lightsoff {
  #leftbar {
    background: $darker;

    .new-group {
      .icon {
        background: rgba($white, 0.25);
      }
    }
  }
}
