@import "src/shared/style.scss";

#group-page {
  padding: 45px;

  .group-header {
    position: relative;

    padding-bottom: 75px;

    .group-cover {
      position: relative;

      height: 250px;

      background-size: cover;
      background-position: center;
      border: solid $lightner;
      border-width: 1px 0;

      &:before,
      &:after {
        content: "";

        position: absolute;
        top: 0;
        z-index: 2;

        width: 250px;
        height: 100%;

        background: linear-gradient(
          -90deg,
          transparent,
          $white 90%,
          $white 100%
        );
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;

        transform: rotate(180deg);
      }
    }

    .group-header-inner {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;

      width: 100%;
      padding-left: 50px;

      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .group-avatar {
        height: 150px;
        width: 150px;

        background-size: cover;
        background-position: center;
        border-radius: 100%;
      }

      .group-header-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1;

        padding-bottom: 15px;

        .group-title {
          flex: 1;
          padding: 0 20px;

          overflow: hidden;

          font-size: 34px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .group-actions {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .button {
            &:not(.icon) {
              width: auto;
              padding: 5px 10px;

              border-radius: 8px;
            }

            &:not(:first-of-type) {
              margin-left: 15px;
            }

            &.group-leave {
              background: $red;
            }
          }
        }
      }
    }
  }

  .group-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 25px 15px 0 50px;

    .group-body-item {
      padding-top: 5px;

      font-size: 16px;
      font-weight: 300;

      &.group-body-item-full {
        width: 100%;
      }

      b {
        font-weight: 600;
      }

      &.group-rating {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .group-rating-star {
          color: $yellow;

          &:first-of-type {
            margin-left: 7px;
          }
        }
      }
    }
  }

  .group-about {
    padding: 30px 15px 30px 50px;

    font-weight: 300;
    line-height: 180%;
  }

  .group-groups {
    margin-top: 15px;
    padding: 45px 15px 0 50px;

    border-top: 1px solid $lightner;

    .group-groups-title {
      font-size: 24px;
      font-weight: 300;

      span {
        font-weight: 400;
        color: $maincolor;
      }
    }

    .group-groups-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      row-gap: 30px;
      align-items: center;
      justify-content: space-between;

      padding-top: 30px;

      .group-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 15px;

        background: $lightner;
        border-radius: 30px;

        $group-avatar-size: 70px;
        .group-avatar {
          width: $group-avatar-size;
          height: $group-avatar-size;

          background-size: cover;
          background-position: center;
          border-radius: 100%;
        }

        .group-text {
          width: calc(100% - #{$group-avatar-size});
          padding-left: 20px;

          font-size: 12px;

          .group-title {
            font-size: 18px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

.lightsoff {
  #group-page {
    .group-header {
      .group-cover {
        border-color: $darker;

        &:before,
        &:after {
          background: linear-gradient(
            -90deg,
            transparent,
            $black 90%,
            $black 100%
          );
        }
      }
    }

    .group-groups {
      border-color: $darker;

      .group-groups-list {
        .group-item {
          background: $darker;
        }
      }
    }
  }
}
