@import "src/shared/style.scss";

.button {
  display: block;

  border: none;
  background: none;

  padding: 0;
  margin: 0;

  color: $black;

  cursor: pointer;
}

.lightsoff {
  .button {
    color: $white;
  }
}
