@import "src/shared/style.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;

  padding: 0;
  margin: 0;

  color: $black;

  cursor: pointer;

  &.transparent {
    transition: background-color 0.3s;

    &:hover {
      background: rgba($gray, 0.2);
    }
  }

  &:not(.transparent) {
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 0 2px 2px rgba($black, 0.2);
    }
  }

  &.round {
    width: 100%;

    border-radius: 20px;
  }
}

.lightsoff {
  .button {
    color: $white;

    &:not(.transparent):hover {
      box-shadow: 0 0 2px 2px rgba($white, 0.2);
    }
  }
}
