@import "src/shared/style.scss";

#topbar {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 99;

  display: flex;
  align-items: center;

  height: 50px;
  width: 100%;

  background: $lightner;

  .logo {
    width: 50px;
    height: 50px;

    background-image: url("../../Shared/Assets/logo_black.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.lightsoff {
  #topbar {
    background: $darkner;

    .logo {
      background-image: url("../../Shared/Assets/logo_white.png");
    }
  }
}
