@import "src/shared/style.scss";

.social {
  padding: 10px;

  .social-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10px 0;

    .social-menu-button {
      width: 44px;
      height: 44px;

      border-radius: 100%;
      background: $gray;

      transition: background-color 0.3s;

      &.active {
        background: $maincolor;
      }

      &:not(.active):hover {
        background: rgba($maincolor, 0.7);
      }
    }
  }

  .latest-messages {
    max-height: calc(100vh - 183px);
    margin-top: 10px;

    overflow: auto;
    scrollbar-width: thin;

    .message-item {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 10px;
      opacity: 0.5;

      cursor: pointer;
      border-radius: 10px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }

      .message-avatar {
        width: 44px;
        height: 44px;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 0 2px 2px rgba($black, 0.2);

        border-radius: 100%;
      }

      .message-info {
        width: calc(100% - 44px);
        padding-left: 12px;

        .message-body {
          display: flex;
          justify-content: space-between;
          align-items: center;

          padding-top: 2px;

          font-size: 12px;

          .message-text {
            max-width: calc(100% - 45px);

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .message-time {
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.lightsoff {
  .social {
    .latest-messages {
      .message-item {
        .message-avatar {
          box-shadow: 0 0 2px 2px rgba($white, 0.4);
        }
      }
    }
  }
}
