@import "src/shared/style.scss";

.toggle-theme {
  padding: 20px 30px;

  background: $lighter;

  border-radius: 0 0 30px 0;

  .toggle-theme-title {
    padding-bottom: 10px;
    font-size: 12px;
  }

  .toggle-theme-action {
    justify-content: space-between;

    padding: 3px 10px;

    background: $white;

    font-weight: 700;

    &:hover {
      background: $lightner;
    }
  }
}

.lightsoff {
  .toggle-theme {
    background: $darkner;

    .toggle-theme-action {
      background: $black;

      &:hover {
        background: $darker;
      }
    }
  }
}
