$black: #000;
$darkner: #111;
$darker: #222;
$dark: #333;

$darkgray: #666;
$gray: #999;
$lightgray: #ccc;

$white: #fff;
$lightner: #eee;
$lighter: #ddd;
$light: #ccc;

$bad: #d3294e;
$warning: #f5d548;
$good: #11a176;

$maincolor: #bd9069;

$iconsize: 40px;
$bigiconsize: $iconsize * 5;
$smalliconsize: $iconsize * 0.75;
$iconfont: "Material Icons";

$mainfont: "Open Sans", sans-serif;
$googlemainfont: "Open+Sans:300,400,600,700,800";
