@import "src/shared/style.scss";

.user-space {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 5px 0 10px;

  .user-avatar {
    width: 44px;
    height: 44px;

    background-position: center;
    background-size: cover;
    border-radius: 100%;
  }

  .user-text {
    width: calc(100% - 44px - #{$smalliconsize});
    padding: 0 10px;

    .user-name {
      width: 100%;
      overflow: hidden;

      font-size: 16px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .user-link {
      a {
        font-size: 12px;
      }
    }
  }

  .user-more {
    width: $smalliconsize;
  }
}
