@import "src/shared/style.scss";

.user-space {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 5px 15px 10px;

  .user-avatar {
    width: 50px;
    height: 50px;

    background-position: center;
    background-size: cover;
    background-color: $lightner;
    border-radius: 100%;
  }

  .user-text {
    width: calc(100% - 50px - #{$smalliconsize});
    padding: 0 15px;

    .user-name {
      width: 100%;
      overflow: hidden;

      font-size: 16px;
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .user-link {
      a {
        font-size: 12px;
      }
    }
  }

  .user-more {
    width: $smalliconsize;
  }
}

.lightsoff {
  .user-space {
    .user-avatar {
      background-color: $darkner;
    }
  }
}
