@import "src/shared/style.scss";

#rightbar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
  width: 350px;
  padding: 5px 0 0;

  background: $lightner;
  border-radius: 30px 0 0 30px;

  &.sidebar_hidden {
    width: 50px;

    .sidebar-top {
      padding: 10px 0;

      .sidebar-title {
        font-size: 0;

        .title-text {
          display: none;
        }
      }
    }
  }

  .sidebar-top {
    padding: 10px;

    .sidebar-title {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0 5px;

      .title-text {
        width: calc(100% - #{$smalliconsize});
        padding: 0 5px;

        font-weight: 700;
        text-transform: uppercase;

        overflow: hidden;
      }
    }
  }
}

.lightsoff {
  #rightbar {
    background: $darker;

    .new-group {
      .icon {
        background: rgba($white, 0.2);
      }

      &:hover {
        box-shadow: 0 0 2px 2px rgba($white, 0.4);
      }
    }
  }
}
